ion-textarea {
  --padding-start: 1rem;
  font-size: medium;
  min-height: 120px;
}

.ion-touched.ion-invalid {
  --border-color: #c5000f;
  border-color: #c5000f;
}

.ion-touched.ion-valid {
  --border-color: #2dd55b;
  border-color: #2dd55b;
}
